/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#navigate {
	align-items: center;
	flex-direction: column;
	}
	.menu_container {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}

	.showmenu {
		visibility: visible;
	}
	.menu:not([name="bottom_menu"]) {
		display: none;
	}
	.menu li {
		display: block;
		margin-top: 10px;
	}
	.our_story {
		flex-direction: column;
	}
	.our_story_text {
		align-items: center;
	}

	.workers {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

	}
	.navbar {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.our_works_title {
		flex-direction: column;
	}
	.testimonials_content p {
		width: 90%;
	}
	.contact_us_content {
		flex-direction: column;
	}
	.give_us_a_good_news {
		align-items: center;
		width: 100%;
	}
	.give_us_a_good_news form input[type="submit"] {
		margin: 20px auto;
	}
	.our_happy_client {
		justify-content: center;
		align-items: center;
	}
	.client_item {
		margin-right: 0;
	}
	.client_item:last-child {
		display: none;
	}
	.footer_items {
		flex-direction: column;
	}
	.footer_item {
		width: 100%;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.testimonials_content img {
		max-width: 100%;
		height: auto;
	}
	.works_items .works_item img{
	width: 100%;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#navigate {
	align-items: center;
	flex-direction: row;
	}
	.menu_container {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	}

	.showmenu {
		visibility: hidden;
	}
	.menu {
		display: block !important;
	}
	.menu li {
		display: inline-block !important;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}